<!DOCTYPE html>
<html lang="en">

{% load static %}

<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel= "stylesheet" type= "text/css" href= "{% static 'style.css' %}" />
  </head><body>
    <div class="cover">
      <div class="navbar navbar-inverse">
        <div class="container-fluid"> 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h3 class="text-inverse">
              <a href = "{% url 'home_page' %}"><i class="fa fa- fa-fw fa-lg fa-yc fw text-inverse"></i></a>Gamma Books</h3>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class = "active">
                <a href = "{% url 'home_page' %}"><i class="fa fa-fw fa-home fa-lg"></i>Home</a>
              </li>
              <li class = "active">
                <a href = "{% url 'browse_books' %}"><i class="fa fa-book fa-lg"></i>  Browse</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="active">
                <a href="{% url 'user_profile' %}"><i class="fa fa-fw fa-lg fa-user text-inverse"></i> User Profile </br><p style="font-size: 12pt;text-indent: 3em;">{{ user.first_name }} {{user.last_name}}</p></a>
              </li>  
              <li class="active">
                  <a href="{% url 'logout' %}"><i class="fa fa-fw fa-lg fa-sign-in text-inverse"></i>Logout</a>
                </li>
              {% elif not request.user.is_not_authenticated %}
              <li class = "active">
                <a href = "{% url 'register' %}"><i class="fa fa-fw fa-user fa-lg text-inverse"></i>Register</a>
              </li>
                <li class="active">
                  <a href="{% url 'login' %}"><i class="fa fa-fw fa-lg fa-sign-in text-inverse"></i>Log in</a>
                </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
      <div class="background-image-fixed cover-image" style="background-image : url('{% static 'images/background.jpg' %}')"></div>
      </html>
{% block body %}
{% endblock %}
</body>
</html>
