{% extends "base.html" %}


{% load static %}
{% block body %}
{% load static %}

  </head><body>

      
      <div class="container" style="margin-top:150px">
        <div class="row">
          <div class="col-md-12 text-center">
          <div class="well well-lg">

    <div class="col-md-12">
      <div align=left>
        <img src="{{ book.image.url }}" width="35%" align=left>
      </div>

      <div align=right>
        <h2 class="text-muted"> {{ book.name }} </h2>
        <h3 class="text-muted">{{ book.author }} </h3>
        <div class="text-justify" style="padding-left: 40%;">
        {{ book.description }}
        </div>
        <h3 class="text-muted">${{ book.price }} </h3>
      </div>
    </div>



<br>
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form }}
<br>
<br>

<input type='submit' name= "register" class="btn btn-info btn-block btn-lg" value='Add to Cart' />
</form>


</div>
</div>
</div>
</div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 align="left">
          <a href = '{% static "TermsConditions.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;" > Terms of Use</a></h4>
      </div>
      <div class="col-md-6">
        <h4 align="right">
          <a href = '{% static "PrivacyPolicy.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;"> Privacy Policy</a></h4>
      </div>
    </div>
  </div>
</div>
<footer class="section section-danger">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h1 class="text-center"></h1>
        <p>GAMMA BOOKS (PTY)</p>
      </div><div class="col-md-6"><p class="text-right"><br>CONTACT US AT: (061) 021 1191</p></div>
    </div>
  </div>
</footer>


</body></html>

{% endblock %}
