{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}

      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h2 class="text-inverse">
              <i class="fa fa-fw fa-lg fa-yc text-inverse"></i>GAMMA BOOKS</h2>
            
            <h2></h2>
            <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
              {{ form1 | crispy }}
              {{ form2 | crispy }}
              <br>
              <br>

              <input onclick="submitForms()" type='submit' class="btn btn-default btn-block btn-lg" value='{{ title }}' />
              
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 align="left">
              <a href = '{% static "TermsConditions.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;" > Terms of Use</a></h4>
          </div>
          <div class="col-md-6">
            <h4 align="right">
              <a href = '{% static "PrivacyPolicy.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;"> Privacy Policy</a></h4>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-danger">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <h1 class="text-center"></h1>
            <p>GAMMA BOOKS (PTY)</p>
          </div><div class="col-md-6"><p class="text-right"><br>CONTACT US AT: (061) 021 1191</p></div>
        </div>
      </div>
    </footer>



</body></html>
{% endblock %}
