
{% extends "base.html" %}


{% block body %}
{% load static %}


  <div class="container" style="margin-top:150px">
    <div class="row">
      <div class="col-md-18 text-center">
          <i class="fa fa-folder fa-fw fa-lg text-danger"></i>
          <br>
          
            
       
            CHANGE TO ALL BOOKS IN USERS SHOPPING CART
          {% for book in all_books %}
          
                
                  <div class="well well-lg"> 
                    <img src="{{ book.image.url }}" height=200px>
                      <li class="text-muted"><a href = "browse/{{ book.id }}"><b> {{ book.name }} </b> </br>  {{ book.author }}</br> ${{ book.price }}</a></li>
                      <input type='submit' name= "register" class="btn btn-success btn-block btn-lg" value='Add to Cart' />
                </div>
          {% endfor %}      
      
        <br>
        <br>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 align="left">
          <a href = '{% static "TermsConditions.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;" > Terms of Use</a></h4>
      </div>
      <div class="col-md-6">
        <h4 align="right">
          <a href = '{% static "PrivacyPolicy.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;"> Privacy Policy</a></h4>
      </div>
    </div>
  </div>
</div>
<footer class="section section-danger">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h1 class="text-center"></h1>
        <p>GAMMA BOOKS (PTY)</p>
      </div><div class="col-md-6"><p class="text-right"><br>CONTACT US AT: (061) 021 1191</p></div>
    </div>
  </div>
</footer>

</body></html>
{% endblock %}