{% extends "base.html" %}


{% load static %}
{% block body %}
{% load static %}
  </head><body>

      
      <div class="container" style="margin-top:150px">
        <div class="row">
          <div class="col-md-12 text-center">
          <div class="well well-lg">

    <div class="col-md-12">
      <div align=left>
        <img src="{{ profile.profile_picture.url }}" width="35%" align=left style="border-radius:50%;">
      </div>

      <div align=right>
        <h2 class="text-muted"> {{ user.first_name }} {{ user.last_name }}</h2>
        <h3 class="text-muted"> {{ user.email }}</h3>
        <h3 class="text-muted">{{ profile.dateOfBirth }} </h3>
        <h3 class="text-muted">{{ profile.gender }} </h3>

        <h3 class="text-muted">{{ address.street_address }} </h3>
        <h3 class="text-muted">{{ address.apartment_address }} </h3>
        <h3 class="text-muted">{{ address.country }} </h3>
        <h3 class="text-muted">{{ address.zip }} </h3>
        
      </div>
 
    </div>


<!-- If statement that shows how a edit mode or something of the sort?:)-->
<br>
<form method='POST' action='{% url "user_profile_update" %}' enctype='multipart/form-data'>{% csrf_token %}
{{ form }}
<br>
<br>

<input type='submit' class="btn btn-info btn-block btn-lg" value='Update your profile' />
</form>
<br>
<form method='POST' onsubmit = "return confirm('All of your data has been deleted!')" action='{% url "user_account_delete" %}' enctype='multipart/form-data'>{% csrf_token %}
  <input type='submit' class="btn btn-danger btn-block btn-lg" value='Delete your account' />
</form>
</div>
</div>
</div>
</div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 align="left">
          <a href = '{% static "TermsConditions.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;" > Terms of Use</a></h4>
      </div>
      <div class="col-md-6">
        <h4 align="right">
          <a href = '{% static "PrivacyPolicy.pdf" %}' class="fa fa-fw fa-check-square-o text-danger" style="width: 40%;"> Privacy Policy</a></h4>
      </div>
    </div>
  </div>
</div>
<footer class="section section-danger">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <h1 class="text-center"></h1>
        <p>GAMMA BOOKS (PTY)</p>
      </div><div class="col-md-6"><p class="text-right"><br>CONTACT US AT: (061) 021 1191</p></div>
    </div>
  </div>
</footer>


</body></html>

{% endblock %}
